<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="startPoint" value="0"/>
    <add key="threadCount" value="2"/>
    <add key="level" value="101"/>
    <add key="cookie" value="laravel_session=eyJpdiI6IlBWbm9xZHpnSzhXNExVMmpwb0JnRnc9PSIsInZhbHVlIjoiUWpcLzk4aWNVOWsydDlQNnhFKzFYazB1R3lFSkJHbGVwYnZCQ3B1eXJcL0gxdzNldzlvekJraGFyb0lwMnlseWNaSzVmYnR4em96cElNQnlJVW5SZHN4UT09IiwibWFjIjoiM2IxYTU2MWY3Yjg1MWNiY2FkNDI0ODJlODgwNzQwMzY3OGFiZjkxYmQ3ZmU5MDdmODlhMTRjMTEzMmRmYzdkZCJ9"/>
  </appSettings>
</configuration>
