<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="startPoint" value="0"/>
    <add key="threadCount" value="2"/>
    <add key="level" value="0"/>
    <add key="cookie" value="laravel_session=eyJpdiI6Imo2enJESndRdmZpK0JmVGlhU1BZT0E9PSIsInZhbHVlIjoiT3RDWnhTSDZmTnVYOUVXRzB4dzQ4bUJlOTB4Qm9uTUhVWTZ6cEVEbGZUZ216eEZHdmVwMUZoTTZrdG54RHBiTUU1ZmJwVzZaYWhZKzZFTWMxQWtHRlE9PSIsIm1hYyI6IjAwNDYxZjgwNTQ5NWZlNDE4ZWE1OTU5ZDcyMzc0MzJhMDAwYmQ2ZThlNTNjY2VhMDY3YjYxMWMxNWRkYzdiNGIifQ"/>
  </appSettings>
</configuration>
